VITE_RECIPIENT_EMAIL=contact@example.com
VITE_AES_IV_LENGTH=12
VITE_PBKDF2_SALT_LENGTH=16
VITE_BASE_KEY_SECRET=your-secure-base-key-secret
VITE_PBKDF2_ITERATIONS=100000
VITE_AES_TAG_LENGTH=128
VITE_API_SECRET=your-secure-api-secret
VITE_CONTACT_ENDPOINT=http://contact.yourdomain.example